body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0; 
  background-image: url("svgs/background.svg");
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/* SVG STYLES*/

nav li {
  transition: transform .2s ease-out;
}
nav li:hover {
  transform: scale(1.1);
}
.icon:hover {
  color: #111111;
}

/*LOGO STYLES*/
.logo-text {
  visibility: initial;
    color: #EAAA7F;
}
svg .st1 {
  display: none;
}
svg .paw {
  transition: transform .3s ease-out;
  transform-origin: 50% 50%;
}
svg .paw:hover {
  transform: scale(1.1);
}

/*CORGIS*/

.corgis-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sable, .fawn, .red {
  padding-right: 25px;
}
.sable p, .fawn p, .red p, .stone p {
  margin-top: -8px;
  margin-right: 40px;
  text-align: center;
  color: #ba8058;
}
.sable {
  fill: #ba8058;
  color: #ba8058;   
}
.fawn {
  fill: #dfa37e;
  color: #dfa37e;
}
.red {
  fill: #7e3d15;
  color: #7e3d15;
}
.stone {
  fill: #494d58;
  color: #494d58;
}



/*MEDIA QUERIES*/

@media screen and (min-width: 425px) {
  svg .st1 {
    display: inline-block;
  }
  .logo-text {
    display: none;
  }
}